.azeret-mono-sakibfakir {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 410;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: monospace
}

#one_img {
    height: 500px;
    width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./B10A1-Challenge-Begins/assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin: 0 auto;
}

#devloper {
    text-align: center;
}

#devloper {
    color: rgb(13, 19, 33);
    font-weight: 800;
    font-size: 44px;

}

#text_banner {
    height: 340px;
    text-align: center;
    width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    gap: 10px;

}

#sakib_text {
    color: rgb(13, 19, 33);
    font-weight: 400;
    font-size: 14px;
    text-wrap: wrap;
    opacity: 0.70;

}

#one_button {
    background-color: rgb(13, 19, 33);
    color: white;
    font-weight: 550;
    font-size: 14px;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 6px;

}

#Group_img {
    height: 200px;
    width: 150px;
    margin-top: 15px;
}

#banner2_text {
    font-weight: 800;
    font-size: 40px;


}


/* big box */


#big_box {
    width: 1000px;
    height: 1200px;
    display: flex;
    padding: 80px 97px 80px 97px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 14px;
    background: rgba(13, 19, 33, 0.02);

}

#big_box_2 {
    height: 1050px;
    width: 970px;
    /* border: 2px solid black; */


}

#big_text_box_h2 {
    height: 70px;
    width: 800px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: rgb(13, 19, 33);
}

#big_text_box_p {
    font-weight: 400;
    font-size: 14px;
    color: rgb(13, 19, 33);
    text-align: center;
}

#big_text_img01 {
    background: rgb(255, 255, 255) rgba(255, 255, 255, 0);
    width: 800px;
    height: 220px;
    /* border: 2px solid red; */
    margin-top: 10px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;

}

#inside_text_img01 {
    height: 200px;
    width: 450px;
}



#inside_text_img01 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#inside_button {
    height: 50px;
    width: 150px;
    font-weight: 600;
    font-size: 15px;
}


/* content 2 */


#two_content {
    height: 220px;
    width: 800px;
    /* border: 2px solid green; */
    text-wrap: wrap;



}

#banner_inside {
    text-wrap: wrap;
    display: flex;
    height: 220px;




}

#main_content_text {
    height: 220px;
    width: 500px;
    text-align: left;
    line-height: 20px;
    margin-top: 30px;

}

#content_text_h1 {
    font-weight: 800;
    font-size: 24px;
}

#content_text_p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;


}

#content_text_button {
    height: 42px;
    width: 145px;
    background: 1px Inside rgb(13, 19, 33);
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;

}



#last_content {
    width: 800px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

#content_box {
    height: 210px;
    width: 390px;
    display: flex;
    justify-items: left;
    flex-direction: column;
    gap: 20px;
    margin: 10px;

}

#last_img_content {
    display: flex;
    justify-items: right;
}

#last_learn_button {
    background: 1px Inside rgb(13, 19, 33);
    height: 40px;
    width: 140px;
    color: rgb(13, 19, 33);
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.0.15;
    border: none;

}

button {
    color: rgb(13, 19, 33);
}

#last_h1 {
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    font-size: 24px;
}

#last_p {
    font-weight: 400;
    font-size: 14px;
    color: rgb(13, 19, 33);

}

#dwon_title {
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

#p_dwon {
    height: 40px;
    width: 650px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    margin-top: -15px;
}

#h1_dwon {
    color: rgb(13, 19, 33);
    font-weight: 600;
    font-size: 20px;

}

/* start video content */



#video_content {
    height: 450px;
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

iframe {
    height: 400px;
    width: 960px;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}


#main_3_text {
    height: 100px;
    width: 1000px;
    text-align: center;
}

#main_div {
    margin: 0 auto;
    height: 450px;
    width: 1050px;
}

#hard_3 {
    width: 350px;
    height: 270px;
}

#hard_3 {
    height: 350px;
    width: 1000px;
    display: flex;
    gap: 10px;
}

#hard_03,
#hard_02,
#hard_01 {
    height: 280px;
    width: 400px;
    text-wrap: wrap;
    /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    align-content: center;
    align-items: left;
    flex-direction: column;
    padding: 20px;

}


#hard_01 {
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
    background-color: rgba(255, 76, 30, 0.05);
    padding: 10px;

}

#hard_02 {
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
    background-color: rgba(0, 76, 232, 0.05);
    padding: 10px;

}

#hard_03 {
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
    background-color: rgba(255, 223, 0, 0.05);
}

#targt_text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

#my_p_text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.hard_all_p {
    color: rgb(13, 19, 33);
    font-family: monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 5px;
}

.html {
    margin: 10px;
}

.learn {
    color: rgb(13, 19, 33);
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;

}


/* Last option */

#last_banner {
    width: 1000px;
    height: 300px;

    background-image: url("./B10A1-Challenge-Begins/assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;

}

#last_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


#last_banner_h2 {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    font-weight: 700;
    font-size: 28px;

}

#last_p {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

#last_input {
    height: 40px;
    width: 400px;
}

#last_button {
    width: 120px;
    height: 40px;
    border-radius: 8px;

    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;


}

.xp {
    color: rgb(13, 19, 33);
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
#ten{
    
}